<div class="row">
  <%= render 'aside' %>
  <div class="col-md-8">
    <h3>Followings</h3>
    <% @user.following_users.each do |user| %>
    <div class="panel panel-default col-md-6">
      <div class="panel-body">
        <%= gravatar_for user %>
        <%= link_to "#{user.name}", user_path(user) %><br>
        <%= user.profile %>
      </div>
    </div>
    <% end %>
  </div>
</div>
